input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bg-container {
    min-height: 100vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 100%;
    border-radius: 15px;
}

.register-content {
    display: flex;
    flex-direction: column;
    padding: 40px;
    max-width: 900px;
    flex-shrink: 1;
    padding: 20px;
}

.title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}



